.main-page{
  display: flex;
  flex-wrap: wrap;

}

.cat-details{
  border: 1px solid black;
  box-shadow: 5px 5px 20px 5px grey;
  margin: 10px 20px 20px 10px;
  width: 175px;
  height: 200px;
}


.id{
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0px 5px;
}

.details{
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 5px;
}


#Photo{
  height: 100px;
  max-width: max-content;
  align-self: center;
}

#Phone-icon{
  height: 7px;
  width: 7px;
}

#Mail-icon{
  height: 7px;
  width: 7px;
}

.phone{
  display: flex;
  align-items: center;
  gap: 10px;
}

.phone > p,
.mail > p{
  margin: 0;
  font-size: x-small;
}

.mail{
  display: flex;
  align-items: center;
  gap: 10px;
}
